*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
 background: #f1f2f6;
}
.el-table{
  animation: sh 1s ease-in-out forwards;
}
@keyframes sh {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
  .el-input__inner:focus {
    border-color: #adadad;
  }
  .el-textarea__inner:focus{
    border-color: #adadad;
  }
  .cell-item {
    display: flex;
    align-items: center;
  }
