*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
 background: #f1f2f6;
}
  .el-input__inner:focus {
    border-color: #adadad;
  }
  .el-textarea__inner:focus{
    border-color: #adadad;
  }
  .cell-item {
    display: flex;
    align-items: center;
  }
